body {
    margin: 0;
}

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.container {
    position: relative;
    background-color: #829faf;
    height: 100vh;
}

.ramka{
 background-color: #e0a911; 
 height: 300px;
 width: 500px;
 position: relative;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%); 

}

.ramka::before,
.ramka::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border-style: solid;
    border-color: #e0a911; 
    border-width: 3px;
    height: 0px;
    opacity:0;
    width: 500px;
    transition: all 1.4s;
}

.ramka::before{
    border-bottom: none;
    top: -3px;
}
.ramka::after{
    border-top: none;
    bottom: -3px;
}

.ramka:hover::after,
.ramka:hover::before{
   height: 155px;
   opacity:1;
}

.ramka:hover #text{
    opacity: 1;
    line-height: 50px;
    font-size: 30px;
}

#jezioro{
    position: absolute;
    height: 295px;
    width: 495px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-image: url(../5-jezioro.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1px;
    font-size: 1px;
    width: 100%;
    text-align: center;
    color: #FFF;
    background-color: #e0a911;
    padding: 0;
    margin: 0;
    transition: all 1.4s;
    opacity: 0;
}








